<section class="dashboard">
	<div ng-hide="assignments.length || loading" class="ng-hide">
		There are no assignments right now. Come back later...
	</div>
	<div ng-hide="assignments.length || !loading" class="ng-hide loading">
		Loading assignments...
	</div>
	<div class="week" ng-repeat="week in assignments">
		<h1>{{ week.start.toDate() | date : 'MMM. d'}} - {{ week.end.toDate() | date : 'MMM. d'}}</h1>
		<div class="assignments">
			<div class="a" ng-repeat="assignment in week.assignments">
				<a class="datetime" ui-sref="instructor-student-assignment({id: assignment.attributes.id, userId: userId})">
					<div>{{ assignment.attributes.dueAt.toDate() | date : 'EEEE'}}</div>
					<div class="time">{{ assignment.attributes.dueAt.toDate() | date : 'h:mm a'}}</div>
				</a>
				<a ui-sref="instructor-student-assignment({id: assignment.attributes.id, userId: userId})">
					<div ng-bind="assignment.attributes.name"></div>
					<div class="status">Status: <span ng-class="assignment.status('color')">{{ assignment.status('name') }}</span></div>
				</a>

				<div class="buttons">
					
					<a ui-sref="submit({id: assignment.attributes.id})" class="btn">{{ assignment.hasSubmission() ? 'Re-s' : 'S' }}ubmit</a>
					
					<a ng-href="{{ assignment.attributes.url }}" class="btn">
						<div class="ion-link"></div>
					</a>

				</div>
			</div>
		</div>
	</div>
</section>