<div ng-app="app">
	<nav>
		<section>
			<a href="#" ui-sref-active="active" ui-sref="home"><span>Home</span></a>
			<a href="#" ui-sref-active="active" ui-sref="login"><span>Login</span></a>
			<a href="#" ui-sref-active="active" ui-sref="register"><span>Register</span></a>
		</section>
	</nav>
	<main ui-view></main>
</div>