.btn {
	border: 0;
	background: #6091ba;
	padding: 6px 12px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background: #84aac9;
	}

	&.danger {
		background: #d9534f;

		&:hover {
			background: #d2322d;
		}
	}
}