nav {
	background-color: #6091BA;

	a {
		height: 3.125em;
		line-height: 3.125em;
		text-transform: uppercase;
		color: #dce7f0;
		text-decoration: none;
		padding: 0 1em;
		font-weight: 100;
		font-size: 13px;

		&:hover {
			
		}
	}
}