<section>
	<div ng-show="showGrade" class="grade-tools">
		<div class="notes-score">
			<div class="notes">
				<textarea focus-on="grade-notes" ng-model="notes" ng-class="error.notes ? 'error' : ''"></textarea>
			</div>
			<div class="score">
				<button class="btn" ng-click="setScore(0)()">DOA</button>
				<button class="btn" ng-click="setScore(1)()">INCOMPLETE</button>
				<button class="btn" ng-click="setScore(2)()">GOOD</button>
				<button class="btn" ng-click="setScore(3)()">GREAT</button>
			</div>
		</div>
	</div>
	<iframe ng-src="{{getSrc(submission) | trustAsResourceUrl}}" width="100%" height="100%">
		<p>Your browser does not support iframes.</p>
	</iframe>
</section>